@import '../assets/vars.scss';
@import '../assets/core.scss';

.nav-toggle{
    position: fixed;
    top: 2rem;
	right: 3rem;

}


nav{
    background-color: $clr-white;
    box-shadow: $light-shadow;
    .nav-center {
		align-items: center;
		justify-content: space-between;
		max-width: $max-width;
		padding: 3rem;
        margin: 0 auto;
       
    }
 

    .logoandlinks{
        display: flex;
        transition: $transition;
        overflow: hidden;
        height: 0;
        &.show-links {
            height: 17rem;
        }
        
        button{
            width: 100px;
            height: 40px;
            margin-left: 40px;
            border-radius: 11px;
            cursor: pointer;
            transition: $transition;
            &:hover {
                color: $clr-primary-5;
                border-color: red;
                background-color: transparent;
			}
        }

        .links{
            margin-left: 220px;
            display: flex;
           
            a{
            margin-right: 15px;
            padding: 0.5 1rem;
			color: $clr-grey-3;
			font-size: 1rem;
            text-transform: capitalize;
            margin: 0 0.5rem;
			color: $clr-primary-5;
			transition: $transition;
			&:hover {
				color: $clr-primary-1;
			}
         }

        }
            
    }
}