@import "../assets/vars.scss";
@import "../assets/core.scss";

@mixin mobile {
	@media (max-width: 800px) {
		@content;
	}
}

.accordion {
	.title {
		margin-top: 15vh;
		margin-bottom: 4rem;
		color: $clr-gold;
		text-align: center;
	}
	.section-center {
		max-width: $max-width;
	}
}

.accordion-item {
	background-color: $clr-white;
	border-radius: $radius;
	box-shadow: $light-shadow;
	padding: 1.5rem 1.5rem 0 1.5rem;
	margin-bottom: 2rem;
	&-title {
		display: flex;
		justify-content: space-between;
		align-items: center;
		text-transform: capitalize;
		padding-bottom: 1rem;
		p {
			margin-bottom: 0;
			letter-spacing: $spacing;
			color: $clr-grey-1;
		}
	}
	&-btn {
		font-size: 1.5rem;
		background-color: transparent;
		border-color: transparent;
		cursor: pointer;
		color: $clr-gold;
		outline: none;
		transition: $transition;
		&:hover {
			transform: rotate(90deg);
		}
		.minus-icon {
			display: none;
		}
	}
	&-content {
		display: none;
		padding: 1rem 0 1.5rem 0;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
		p {
			margin-bottom: 0;
		}
	}
	// !
	&.show-content {
		.accordion-item-content {
			display: block;
			
            
		}
		.minus-icon {
			display: inline;
		}
		.plus-icon {
			display: none;
        }
    
	}
}