/* Variables */
/* dark shades of primary color*/
/* primary/main color */
/* lighter shades of primary color */
/* darkest grey - used for headings */
/* grey used for paragraphs */
*,
::after,
::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #102a42;
  background: #E5E5E5;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  line-height: 1.5;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.75rem;
  font-family: "Roboto", sans-serif;
  line-height: 1.25;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  color: #617d98;
}

.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
}

@media (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}

img {
  max-width: 100%;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

body {
  background-color: white;
}

nav {
  height: 72px;
  width: 420px;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

nav.show-links {
  -webkit-box-shadow: none;
          box-shadow: none;
}

nav .nav-center .nav-header {
  padding-top: 18px;
  margin-left: 24px;
}

nav .nav-center .nav-header img {
  display: inline;
}

nav .nav-center .nav-header span {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  width: 48px;
  height: 12px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.015em;
  color: rgba(38, 50, 56, 0.8);
  margin-left: 70px;
  margin-top: -23px;
  padding-top: 6px;
}

nav .nav-center .navbtn {
  display: block;
  margin-left: 358px;
}

nav .nav-center .links {
  display: none;
}

nav .nav-center .mobile_nav_links {
  display: block;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  background-color: #fff;
  margin-top: 25px;
  max-width: unset;
  overflow: hidden;
  height: 0;
  width: 420px;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  position: relative;
}

nav .nav-center .mobile_nav_links.show-links {
  height: 400px;
}

nav .nav-center .mobile_nav_links a {
  display: block;
  margin-left: 24px;
  margin-top: 39px;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: rgba(31, 46, 53, 0.8);
}

nav .nav-center .mobile_nav_links .iconsnav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
}

.icons {
  display: none;
}

main .tab {
  background-color: rgba(255, 255, 255, 0.65);
  margin-top: 30px;
}

main .tab .p1 {
  width: 331px;
  height: 180px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 140.69%;
  color: #30444E;
  margin-left: 40px;
}

main .tab .team {
  width: 347px;
  height: 206px;
  margin-left: 64px;
}

main .tab .red_line {
  display: none;
}

main .tab .dots {
  width: 59px;
  height: 59px;
  margin-top: -90px;
  z-index: -1;
}

main .tab .p2 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 140.69%;
  text-align: center;
  color: #263238;
  margin-top: 45px;
  margin-bottom: 0%;
}

main .tab .line {
  margin-left: 157px;
}

main .bank_tabungan {
  background-color: #F7F7F7;
  margin-top: 50px;
  height: 764px;
  width: 421px;
}

main .bank_tabungan img {
  width: 332px;
  height: 77px;
  margin-left: 40px;
  margin-top: 50px;
}

main .bank_tabungan .header {
  width: 332px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 140.69%;
  color: #263238;
  margin-top: 24px;
  margin-left: 30px;
}

main .bank_tabungan .text {
  width: 366px;
  height: 496px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  margin-left: 30px;
  color: #263238;
}

main .bank_bpr {
  height: 1252px;
  margin-top: 50px;
  margin-left: 40px;
}

main .bank_bpr img {
  width: 332px;
  height: 114px;
}

main .bank_bpr .header {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 140.69%;
  color: #263238;
  margin-top: 24px;
}

main .bank_bpr .span {
  font-family: 'Roboto', sans-serif;
  color: #263238;
  width: 344px;
  height: 264px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
}

main .bank_maspion {
  background-color: #F6F6F6;
  height: 835px;
  width: 421px;
}

main .bank_maspion .img {
  margin-top: 50px;
  width: 332px;
  height: 141px;
  margin-left: 40px;
}

main .bank_maspion .text {
  width: 351px;
  height: 264px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #263238;
  margin-left: 30px;
  margin-top: 32px;
}

main .slideshow-container {
  height: 600px;
}

main .slideshow-container h2 {
  margin-left: 119px;
  margin-top: 50px;
}

main .slideshow-container .slides {
  display: none;
}

main .slideshow-container div img {
  width: 313px;
  height: 218px;
  margin-left: 49px;
  border-radius: 32px 0px;
}

main .slideshow-container .text {
  width: 334px;
  height: 216px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.2px;
  color: #373F41;
  margin-left: 49px;
  margin-top: 93px;
}

main .slideshow-container .prev {
  color: #EE4248;
  font-size: 70px;
  margin-top: 150px;
  margin-left: 17px;
}

main .slideshow-container .next {
  color: #EE4248;
  font-size: 70px;
  margin-left: 290px;
}

main .slideshow-container .fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

footer {
  margin-top: 112px;
}

footer .adress {
  margin-left: 25px;
}

footer .adress img {
  display: inline;
}

footer .adress span {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  width: 48px;
  height: 12px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.015em;
  color: rgba(38, 50, 56, 0.8);
  margin-left: 70px;
  margin-top: -23px;
  padding-top: 6px;
}

footer .adress .p1 {
  width: 259px;
  height: 21px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #263238;
  margin-top: 14px;
}

footer .adress .p2 {
  width: 317px;
  height: 54px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 149.19%;
  color: #263238;
}

footer .contact_nav {
  margin-left: 25px;
  margin-top: 20px;
}

footer .contact_nav .contact_heading {
  width: 85px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #263238;
}

footer .contact_nav .contacts {
  width: 269px;
  height: 81px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 149.19%;
  color: #263238;
  margin-top: 29px;
}

footer .social_icons {
  margin-left: 5px;
}

footer .social_icons img {
  margin-right: 5px;
}

.the_end {
  margin-top: 40px;
  height: 64px;
  width: 420px;
  background-color: #EE4248;
}

.the_end p {
  color: white;
  text-align: center;
  padding-top: 22px;
}

.scroll-top {
  display: none;
}
/*# sourceMappingURL=style-mobile3.css.map */