@import '../assets/vars.scss';
@import '../assets/core2.scss';

// font-family: 'Roboto', sans-serif;
@mixin DSIlogo {
    img{
        display: inline;
    }
    span{
        display: grid;
        grid-template-columns: 1fr;
        width: 48px;
        height: 12px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 0.015em;
        color: rgba(38, 50, 56, 0.8);
        margin-left: 70px;
        margin-top: -23px;
        padding-top: 6px;
    }}
body{
    background-color: white;
}
nav {
    height:72px;
    width: 420px;
	background-color: $clr-white;
    box-shadow: $light-shadow;
    &.show-links{
        box-shadow: none;
    }
	.nav-center {
        .nav-header{
            padding-top: 18px;
            @include DSIlogo;
            margin-left: 24px;
        }
        .navbtn{
            display: block;
            margin-left: 358px;
        }
        .links {
            display: none;
        }
        .mobile_nav_links{
            display: block;
		    transition: all 0.5s linear;
            background-color: $clr-white;
            margin-top: 25px;
            max-width: unset;
			overflow: hidden;
            height: 0;
            width: 420px;
	        box-shadow: $light-shadow;
            z-index: 9999;
            position: relative;
            &.show-links {
                height: 400px;
            }

            a {
                display: block;
                margin-left: 24px;
                margin-top: 39px;
                text-transform: capitalize;
                letter-spacing: $spacing;
                font-family: 'Roboto', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 21px;
                color: rgba(31, 46, 53, 0.8);

            }
            .iconsnav{
                display: flex;
                margin-top: 80px;
            }
        }
    }

}
.icons {
    display: none;
}
main{
    .div1{
        img{
            width: 349px;
            height: 236px;
            margin-left: 31px;
            margin-top: 54px;
        }

        .img-desktop{
            display: none;
        }
        .content{
            width: 373px;
            height: 135px;
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 34px;
            line-height: 133.69%;
            text-align: center;
            color: #1F2E35;
            margin-left: 19px;
            margin-top: 34px;
        }
        .content2{
            width: 383px;
            height: 87px;
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 29px;
            text-align: center;
            color: #30444E;
            margin-left: 14px;

        }
        .btn{
            background-color: #EE4248;
            color: white;
            border-color: transparent;
            border-radius: 4px;
            width: 161px;
            height: 53px;
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 29px;
            cursor: pointer;
            padding: 12px, 32px, 12px, 32px;
            margin-left: 125px;
        }
    }
    .div2{
        background-color: #F6F6F6;
        margin-top: 47px;
        height: 857px;
        width: 420px;
        .pane2{
            width: 349px;
            height: 340px;
            margin-left: 31px;
        }
        p{
            width: 364px;
            height: 86px;
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 32px;
            line-height: 133.69%;
            text-align: center;
            color: #1F2E35;
            margin-top: 30px;
            margin-left: 25px;
        }
        .div2_content{
            width: 358.68px;
            height: 351px;
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 150%;
            color: #30444E;
            margin-top: -10px;
            text-align: justify;
        }
    }
    .div3{
        .p{
            width: 288px;
            height: 43px;
            font-family: 'Roboto', sans-serif;
            margin-left: 62px;
            margin-top: 36px;
            font-style: normal;
            font-weight: 500;
            font-size: 32px;
            line-height: 133.69%;
            text-align: center;
            color: #1F2E35;
        }
        .grid{
            img{
                margin-left: 157px;
            }
            .grid_header{
                width: 197px;
                height: 37px;
                font-family: Roboto;
                font-style: normal;
                font-weight: 500;
                font-size: 28px;
                line-height: 133.69%;
                margin-left: 130px;
                color: #EE4248;
            }
            .grid_content{
                width: 349px;
                height: 108px;
                font-family: 'Roboto', sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 150%;
                text-align: center;
                color: #30444E;
                margin-left: 30px;
            }
            .grid_btn{
                width: 119px;
                height: 42px;
                font-family: 'Roboto', sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 144.69%;  
                color: #FFFFFF;
                background-color: #EE4248;
                border-color: transparent;
                border-radius: 4px;
                margin-left: 150px;
                margin-bottom: 30px;
                margin-top: -20px;
                } 

        }
    }
}
footer{
    margin-top: 72px;
    .adress{
        margin-left: 25px;
        @include DSIlogo();
        .p1{
            width: 259px;
            height: 21px;
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            color: #263238;
            margin-top: 14px;
        }
        .p2{
            width: 317px;
            height: 54px;
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            line-height: 149.19%;
            color: #263238;
        }
    }
    .contact_nav{
        margin-left: 25px;
        margin-top: 20px;
        .contact_heading{
            width: 85px;
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 28px;
            color: #263238;;
        }
        .contacts{
            width: 269px;
            height: 81px;
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            line-height: 149.19%;
            color: #263238;
            margin-top: -7px;
        }
    }
    .social_icons{
        margin-left: 15px;
        img{
            margin-right: 5px;
        }
    }
}
.the_end{
    margin-top: 40px;
    height: 64px;
    width: 420px;
    background-color: #EE4248;
    p{
        color:white;
        text-align: center;
        padding-top: 22px;
    }
}



.scroll-top{
    display: none;
}