/* Variables */
/* dark shades of primary color*/
/* primary/main color */
/* lighter shades of primary color */
/* darkest grey - used for headings */
/* grey used for paragraphs */
*,
::after,
::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #102a42;
  background: #f1f5f8;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  line-height: 1.5;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.75rem;
  font-family: "Roboto", sans-serif;
  line-height: 1.25;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  color: #617d98;
}

@media (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
}

@media (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}

main {
  display: -ms-grid;
  display: grid;
  min-height: 100vh;
  place-items: center;
}

img {
  max-width: 100%;
}

nav {
  background-color: #fff;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

nav .nav-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1170px;
  padding: 1rem;
  margin: 0 auto;
}

@media (max-width: 800px) {
  nav .nav-center {
    max-width: unset;
    display: block;
    padding: 0;
  }
}

@media (max-width: 800px) {
  nav .nav-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1rem;
  }
}

nav .nav-header .logo {
  height: 40px;
}

nav .nav-header .nav-toggle {
  display: none;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-color: transparent;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  cursor: pointer;
}

@media (max-width: 800px) {
  nav .nav-header .nav-toggle {
    display: block;
  }
}

nav .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

nav .links.show-links {
  height: 7rem;
}

@media (max-width: 800px) {
  nav .links {
    display: block;
    overflow: hidden;
    height: 0;
  }
}

nav .links a {
  display: block;
  margin: 0 0.5rem;
  padding: 0.5 1rem;
  color: #324d67;
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

nav .links a:hover {
  color: #49a6e9;
}

nav .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 800px) {
  nav .social-icons {
    display: none;
  }
}

nav .social-icons a {
  margin: 0 0.5rem;
  color: #49a6e9;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

nav .social-icons a:hover {
  color: #8bcbf9;
}
/*# sourceMappingURL=style.css.map */